@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Tilt+Warp&display=swap');
.body-items{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(214, 225, 240);
}

.body-box-content{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    height: 505px;
    width: 315px;
    box-shadow: 4px 0px 30px rgb(0 0 0 / 7%);
}
img{
    margin: 15px;
    border-radius: 10px;
    height: 260px;
    width: 285px;
}
h2, p{
    text-align: center;
    font-family: 'outfit';
}
h2{
    margin: 20px;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}
p{
    margin: 40px;
    margin-top: 0%;
    font-size: 15px;
    color:hsl(220, 15%, 55%);
}